CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
.DS_Store
.vscode/settings.json
build/Onion-PIR
.idea
cmake-build-debug
.cache
temp/
# Ignore SEAL build artifacts in root, but not extern/SEAL submodule
/SEAL
lib64/
include/
output.txt
error.txt
run_onion_pir.sbatch
outputs/
.vscode/
note&analysis/
PIR_papers/
preprocessed_db.bin
rawDB.bin